svg {
    border: 1px solid #3f87a6;
},

h1 {
    font-family: sans-serif;
    font-weight: lighter;
},

.data-stat {
    margin-top: 5px;
    margin-bottom: 5px;
}

.starter-template {
  padding: 20px 15px, 40px, 15px;
  text-align: center;
}

blockquote {
	padding: 0px 20px;
	margin-top: 10px;
	border: none;
	font-size: 16px;
}


.axis path,
.axis line {
  fill: none;
  stroke: #000;
  shape-rendering: crispEdges;
}

.x.axis path {
  display: none;
}

.line {
  fill: none;
  stroke: steelblue;
  stroke-width: 1.5px;
}

.legend rect {
  fill:white;
  stroke:black;
  opacity:0.8;}

#ex1Slider .slider-selection {
  background: #BABABA;
}